user nobody
pidfile /var/run/sniproxy.pid
resolver {
  nameserver 1.1.1.1
  nameserver 1.0.0.1
}

# HTTP proxy section
listener 0.0.0.0:80 {
  protocol http
  table {
#__TABLE__
  }
}

# TLS SNI proxy section
listener 0.0.0.0:443 {
  protocol tls
  table {
#__TABLE__
  }
}
