[Unit]
Description=DNS-Loki Controller Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/dns-proxy/controller
Environment="PATH=/opt/dns-proxy/controller/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/dns-proxy/controller/venv/bin/python /opt/dns-proxy/controller/run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
